<div class="roles">

  <!-- 面包屑导航 -->
  <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
    <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>权限管理</el-breadcrumb-item>
    <el-breadcrumb-item>权限列表</el-breadcrumb-item>
  </el-breadcrumb>

  <!-- 表格 -->
  <el-table :data="roleList" stripe style="width: 100%">
    <!-- 点击右箭头展开内容 -->
    <el-table-column type="expand">
      <template slot-scope="scope">
        <!-- 展开的内容，看到了吗 -->
        <!-- scope.row.children 一级权限列表 -->
        <el-row class="level1" v-for="level1 in scope.row.children" :key="level1.id">
          <el-col :span="4">
            <el-tag closable @close="delRights(scope.row.id, level1.id)">
              {{level1.authName}}
            </el-tag>
            <i class="el-icon-arrow-right"></i>
          </el-col>
          <el-col :span="20">
            <el-row class="level2" v-for="level2 in level1.children" :key="level2.id">
              <el-col :span="4">
                <el-tag closable type="success" @close="delRights(scope.row.id, level2.id)">
                  {{level2.authName}}
                </el-tag>
                <i class="el-icon-arrow-right"></i>
              </el-col>
              <el-col :span="20">
                <span class="level3" v-for="level3 in level2.children" :key="level3.id">
                  <el-tag closable type="warning" @close="delRights(scope.row.id, level3.id)">
                    {{level3.authName}}
                  </el-tag>
                </span>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </template>
    </el-table-column>
    <!-- id -->
    <el-table-column type="index" :index="getIndex">
    </el-table-column>
    <el-table-column prop="roleName" label="角色名称" width="180">
    </el-table-column>
    <el-table-column prop="roleDesc" label="描述" width="180">
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button size="mini" type="primary" plain icon="el-icon-edit"></el-button>
        <el-button size="mini" type="danger" plain icon="el-icon-delete"></el-button>
        <el-button size="mini" type="success" plain icon="el-icon-check" @click= "isShowDialog(scope.row)">分配权限</el-button>
      </template>
    </el-table-column>
  </el-table>

  <!-- 点击显示角色授权的框框 -->
  <el-dialog title="角色授权" :visible.sync="dialogFormVisible" label-width=100>
          <el-tree
          default-expand-all
          :data="rightTree"
          show-checkbox
          node-key="id"
          ref = 'tree'
          :props="defaultProps">
        </el-tree>
      <div slot="footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="assignRights">确 定</el-button>
      </div>
    </el-dialog>
</div>
